/* TESTING SPACE */
/*
* {
    border:1px solid pink;
}
*/
/* GENERAL STYLES */

body{
    background:#eee;
    color:#181e2b;
    font-family:'Baloo 2', cursive;
}

h1{
    font-family:'Press Start 2P',cursive;
    font-size:32px;
}

h1 a{
    text-decoration: none;
    color:#fff;
}

h2{
    font-family:'Press Start 2P',cursive;
    padding:0 10px;
}

h2:hover{
    background:#df443c;
    border-left:3px solid #181e2b;
    border-right:3px solid #181e2b;
    width:400px;
    transition: 0.4s;
}

/* HEADER */

header{
    background:#df443c;
    text-align:center;
    height:100px;
    padding-top:30px;
}

/* NAVIGATION */

nav{
    background:rgba(10,12,18,0.8);
    display:flex;
}

nav ul{
    padding:10px;
    list-style:none;
    font-family:sans-serif;
    font-weight:bold;
    display:flex;
    flex:1;
}

nav ul a{
    text-decoration:none;
    color:#df443c;
}

nav li {
    padding:10px;
}

/* SECTION */

section{
    /*background:lightcyan;*/
    margin:50px;
    padding:30px;
}

section h2{
    display:none;
}

section img{
    display:block;
    margin:50px auto;
}

/* MAIN */

main {
    /*background:lightgoldenrodyellow;*/
    margin:50px;
    padding:30px;
}

main img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* CARDS */

.category{
    display:flex;
}

.card{
    flex:1;
}

.card img{
    display:inline;
}

/* FOOTER */

footer{
    background:#0a0c12;
    color:#df443c;
    padding:30px;
    display:flex;
}

.links{
    padding:20px;
    flex:1;
}

.links a{
    color:#df443c;
    text-decoration:none;
}

.links a:hover{
    color:#df443c;
    transition:0.4s;
}

.links li {
    list-style:none;
}

.socials {
    border-left:1px solid #df443c;
    border-right:1px solid #df443c;
    padding:20px;
    flex:1;
}

.schedule{
    padding:20px;
    text-align:right;
    flex:1;
}

/* CREDIT */

.webdev {
    font-size:12px;
    text-align:center;
    padding:10px;
}