/* TESTING SPACE */

* {
    border:1px solid pink;
}

/* GENERAL STYLES */

h1{
    font-family:sans-serif;
    font-size:32px;
}

h1 a{
    text-decoration: none;
    color:pink;
}

/* HEADER */

header{
    background:darkred;
    text-align:center;
    color:lightcoral;
}



/* NAVIGATION */

nav{
    background:navy;
}

nav ul{
    padding:10px;
    list-style:none;
    font-family:sans-serif;
    font-weight:bold;
}

nav ul a{
    text-decoration:none;
    color:lightpink;
}

nav li {
    display:inline-flex;
    padding:10px;
}

/* SECTION */

section{
    background:lightcyan;
    margin:50px;
    padding:30px;
}

section h2{
    display:none;
}

section img{
    display:block;
    margin:50px auto;
}

/* MAIN */

main {
    background:lightgoldenrodyellow;
    margin:50px;
    padding:30px;
}

main img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* FOOTER */

footer{
    background:navy;
    color:lightpink;
    font-family:sans-serif;
    font-weight:bold;
    display:flex;
    padding:30px;
}

.links{
    align-items: flex-start;
}

.links a{
    color:pink;
    text-decoration:none;
}

.links a:hover{
    color:coral;
    transition:0.4s;
}

.links li {
    list-style:none;
}

.socials {
    align-items: center;
}

.schedule{
    align-items: flex-end;
}

/* CREDIT */

.webdev {
    font-size:12px;
    text-align:center;
    padding:10px;
}